<%- include("header",{title:"GENESIS_experience",hClass:"sub",css:["style.css","experience.css"]}) %>

<div class="experience">
    <div class="cont1">
        <div class="center">
            <p>GENESIS SPACE</p>
            <h2>다양한 제네시스 차량 시승 및 차량에 대한 큐레이션,</h2> 
            <h2>콘셉트카 전시 등 제네시스에 관한 다양한 체험을 제공합니다.</h2>
        </div>
    </div>
    <div class="cont2">
        <div class="box_area">
            <div class="cont2_left">
                <img class="imgs" src="/img/ex1.jpg">
            </div>
            <div class="cont2_right">
                <div class="rightText">
                    <h2>제네시스 하우스 뉴욕</h2>
                    <p>제네시스 하우스는 차량 전시와 더불어 레스토랑,</p>
                    <p>라이브러리, 공연장, 테라스 가든을 포함한 복합</p>
                    <p>브랜드 거점으로, 바쁜 일상에 휴식과 예술적 영감을</p>
                    <p>충전하는 도심 속 문화의 오아시스를 지향합니다.</p>
                    <a href="#" class="more">자세히 보기</a>
                </div>
            </div> 
        </div>
        <div class="box_area">
            <div class="cont2_left">
                <img class="imgs" src="/img/ex2.jpg">
            </div>
            <div class="cont2_right">
                <div class="rightText">
                    <h2>제네시스 스튜디오 하남</h2>
                    <p>제네시스 스튜디오 하남은 겉으로 드러나는 화려함을 </p>
                    <p>걷어내고 본질적인 가치에 집중합니다.</p>
                    <a class="more" href="#">자세히 보기</a>
                </div>
            </div> 
        </div>    
        <div class="box_area">
            <div class="cont2_left">
                <img class="imgs" src="/img/ex3.jpg">
            </div>
            <div class="cont2_right">
                <div class="rightText">
                    <h2>제네시스 강남</h2>
                    <p>제네시스 하우스는 차량 전시와 더불어 레스토랑,</p>
                    <p>라이브러리, 공연장, 테라스 가든을 포함한 복합</p>
                    <p>브랜드 거점으로, 바쁜 일상에 휴식과 예술적 영감을</p>
                    <p>충전하는 도심 속 문화의 오아시스를 지향합니다.</p>
                    <a class="more" href="#">자세히 보기</a>
                </div>
            </div> 
        </div>    
        <div class="box_area">
            <div class="cont2_left">
                <img class="imgs" src="/img/ex4.jpg">
            </div>
            <div class="cont2_right">
                <div class="rightText">
                    <h2>제네시스 하우스 뉴욕</h2>
                    <p>제네시스 하우스는 차량 전시와 더불어 레스토랑,</p>
                    <p>라이브러리, 공연장, 테라스 가든을 포함한 복합</p>
                    <p>브랜드 거점으로, 바쁜 일상에 휴식과 예술적 영감을</p>
                    <p>충전하는 도심 속 문화의 오아시스를 지향합니다.</p>
                    <a class="more" href="#">자세히 보기</a>
                </div>
            </div> 
        </div>    
        <div class="box_area">
            <div class="cont2_left">
                <img class="imgs" src="/img/ex5.jpg">
            </div>
            <div class="cont2_right">
                <div class="rightText">
                    <h2>제네시스 하우스 뉴욕</h2>
                    <p>제네시스 하우스는 차량 전시와 더불어 레스토랑,</p>
                    <p>라이브러리, 공연장, 테라스 가든을 포함한 복합</p>
                    <p>브랜드 거점으로, 바쁜 일상에 휴식과 예술적 영감을</p>
                    <p>충전하는 도심 속 문화의 오아시스를 지향합니다.</p>
                    <a class="more" href="#">자세히 보기</a>
                </div>
            </div> 
        </div>        
    </div>
    <div class="cont3">
        <div class="c3_title">
            <h2>GENESIS Gallery</h2>
        </div>
        <div class="center">
            <div class="box_left">
                <div></div>
            </div>
            <div class="box_right">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>


<%- include("footer") %> <!--하단 부분-->

<script src="js/header.js"></script>
<script src="js/scroll.js"></script>