<div id="footer">
    <div class="center">
        <a href="/"><img src="img/genesis_logo.png"></a>
        <div class="copyright">
            <p><span>TEL : 123-456-7890</span><span>FAX : 012-345-6789</span></p>
            <p>E-mail : genesis@genesis.com</p>
            <p>© Copyright 2023 Hyundai Motor Company.<span class="all_rights">All Rights Reserved.</span></p>
        </div>
    </div>
</div>
