<%- include("header",{title:"GENESIS",hClass:"sub",css:["style.css","genesis.css"]}) %>

<div class="genesis">
    <div class="cont">
        <div class="center">
            <div class="top_title">
                <h3>GENESIS BRAND</h3>
                <h2>제네시스라는 이름에는 열망의 창조,
                    새로운 시작과 긍정적인 변화를 향한
                </h2> 
                 <h2>우리의 염원이 담겨 있습니다.</h2>
            </div>
            <div class="bot_list">
                <div class="car_box">
                    <div class="img_box">
                        <a href="#"><img src="/img/mission.jpg"></a>
                    </div>
                    <h4>OUR VISION AND MISSION</h4>
                    <p>우리는 사람들을 위해 최상의 자동차를 만들고, 긍정적인 변화를 만들어내는 것을 목표로 하고 있습니다.</p>
                    <div class="link"><a href="#">자세히보기</a></div>
                </div>
                <div class="car_box">
                    <div class="img_box">
                        <a href="#"><img src="/img/way.jpg"></a>
                    </div>
                    <h4>OUR WAY</h4>
                    <p>새로운 길을 끊임없이, 그렇지만 사려 깊은 방식으로 탐험하는 것이 진정으로 매력적인 것을 만들어내는 우리만의 방식입니다.</p>
                    <div class="link"><a href="#">자세히보기</a></div>
                </div>
                <div class="car_box">
                    <div class="img_box">
                        <a href="#"><img src="/img/design1.jpg"></a>
                    </div>
                    <h4>DESIGN</h4>
                    <p>마치 고급 식당의 쉐프처럼 역동성과 우아함을 재료로, 각 모델에 알맞는 기품있는 디자인을 선보입니다.</p>
                    <div class="link"><a href="#">자세히보기</a></div>
                </div>
                <div class="car_box">
                    <div class="img_box">
                        <a href="#"><img src="/img/design2.jpg"></a>
                    </div>
                    <h4>JOIN US</h4>
                    <p>앞으로 더욱 다양한 국가에서 많은 사람들을 만나며
                        끝 없이 이어질 제네시스 여정에 함께
                        해주시기 바랍니다.</p>
                    <div class="link"><a href="#">자세히보기</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("footer") %> <!--하단 부분-->

<script src="js/header.js"></script>
<script src="js/scroll.js"></script>