<%- include("header",{title:"GENESIS_qna",hClass:"sub",css:["style.css","qna.css"]}) %>
<div class="qna_area">
    <div class="qna">
        <div class="qna_text">
            <h2>공지사항</h2>
            <h4>제네시스 웹사이트 및 브랜드 전반에 관한 소식을 전해 드립니다.</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="cont">
        <div class="qna_box">
            <div class="update">
                <p>무선 소프트웨어 업데이트</p>
                <p>일반 공지사항</p>
            </div>
            <div class="faq">
                <h2>무선 소프트웨어 업데이트 FAQ</h2>
                <p>제네시스 GV60/G90 차량 무선 소프트웨어 업데이트 서비스를 제공하고 있습니다.</p>
                <p>2023.05.23</p>
            </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>무선 소프트웨어 업데이트</p>
            </div>
            <div class="faq">
                <h2>GV60 페이스 커넥트 시스템 등록불량 개선 무상수리 고객통지문</h2>
                <p>GV60 페이스 커넥트 시스템 등록불량 개선 무상수리 고객통지문</p>
                <p>2023.06.01</p>
            </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>제네시스 커넥티드 서비스</p>
            </div>
            <div class="faq">
                <h2>제네시스 커넥티드 서비스 시스템 개선 작업 안내</h2>
                <p>제네시스 커넥티드 서비스 시스템 개선 작업 안내</p>
                <p>2023.05.30</p>
            </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>일반 공지사항</p>
            </div>
            <div class="faq">
                <h2>제네시스 멤버십 제휴서비스 종료 안내 (이마트, 우리아이해피박스)</h2>
                <p>제네시스 멤버십 제휴서비스 종료 안내 입니다.</p>
                <p>2023.05.25</p>
            </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>무선 소프트웨어 업데이트</p>
            </div>
            <div class="faq">
                <h2>G90 '사용자 인증 시스템 및 편의 기능' 무선 소프트웨어 업데이트</h2>
                <p>G90 '사용자 인증 시스템 및 편의 기능' 무선 소프트웨어 업데이트</p>
                <p>2023.05.24</p>
            </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>일반 공지사항</p> 
            </div>
            <div class="faq">
                <h2>웹사이트 회원 개인정보 처리방침 개정 공지</h2>
                <p>웹사이트 회원 개인정보 처리방침이 5월 22일 개정됨을 알려드립니다.</p>
                <p>2023.05.22</p>
            </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>무선 소프트웨어 업데이트</p>   
            </div>
            <div class="faq">
                <h2>MY GENESIS 개인정보 처리방침 개정 공지</h2>
                <p>MY GENESIS 개인정보 처리방침 개정 공지</p>
                <p>2023.05.22</p>
            </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>일반 공지사항</p>    
            </div>
            <div class="faq">
                <h2>(구)MY GENESIS 개인정보 처리방침 개정 공지</h2>
                <p>(구)MY GENESIS 개인정보 처리방침 개정 공지</p>
                <p>2023.05.22</p>
            </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>일반 공지사항</p>    
            </div>
            <div class="faq">
                <h2>MY GENESIS 위치기반 서비스 이용약관 개정 공지</h2>
                <p>MY GENESIS 위치기반 서비스 이용약관 개정 공지</p>
                <p>2023.05.22</p>
                </div>
        </div>
        <div class="qna_box">
            <div class="update">
                <p>일반 공지사항</p>
            </div>
            <div class="faq">
                <h2>MY GENESIS 앱 이용약관 개정 공지</h2>
                <p>MY GENESIS 앱 이용약관 개정 공지</p>
                <p>2023.05.22</p>
            </div>
        </div>
    </div>
</div>
<%- include("footer") %>


<script src="js/header.js"></script>
<script src="js/scroll.js"></script>